@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

#root {
  font-family: 'Poppins', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-main{
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.grid-child{
  padding: 0.5rem;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.grid-child:hover, .action-btn:hover{
  background-color: whitesmoke;
  color: #212121;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

.input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-area{
  font-family: 'Poppins',sans-serif;
  padding: 1rem;
}

.action-btn{
  font-size: 16px;
  margin-top: 2rem;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

.result-text{
  width: 80%;
  background-color: black;
  padding: 1em;

}